<!DOCTYPE html>
<html lang="en">

<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Babanow</title>
  <meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
  <meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
  <meta name="author" content="Luka Cvetinovic for Codrops" />
  <!-- Favicons (created with http://realfavicongenerator.net/)-->
  <!-- <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
  <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="favicons/manifest.json">
  <link rel="shortcut icon" href="favicons/favicon.ico"> -->
  <meta name="msapplication-TileColor" content="#00a8ff">
  <meta name="msapplication-config" content="favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Normalize -->

<!--   <link rel="stylesheet" type="text/css" href="assets/normalize.css">
 -->  <!-- Bootstrap -->
<!--   <link rel="stylesheet" type="text/css" href="assets/bootstrap.css">
 -->  <!-- Owl -->
<!--   <link rel="stylesheet" type="text/css" href="assets/owl.css">
 -->  <!-- Animate.css -->
<!--   <link rel="stylesheet" type="text/css" href="assets/animate.css">
 -->  <!-- Font Awesome -->
<!--   <link rel="stylesheet" type="text/css" href="assets/font-awesome-4.1.0/css/font-awesome.min.css">
 -->  <!-- Elegant Icons -->
  <link rel="stylesheet" type="text/css" href="assets/eleganticons/et-icons.css">
  <!-- Main style -->
  <link rel="stylesheet" type="text/css" href="assets/cardio.css">
</head>

<body>

<%= yield %>

</body>
</html>
